/* REGOLE GENERALI */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Roboto Font */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Beta */
.beta {
  text-transform: none;
  position: relative;
  font-size: 0.75rem;
  color: rgb(235, 0, 141);
  bottom: 1rem;
  line-height: normal;
  font-weight: 600;
  margin-right: -0.8rem;
}

/* Regole generali dell'Header */
.container {
  max-width: 86rem;
  height: 100px;
  margin: auto;
  display: flex;
  align-items: flex-end;
  padding: 0 20px;
}
.nav-bar {
  height: 40px;
  width: 100%;
  display: flex;
}
.header-left a:hover, .header-right a:hover,
.hamburger-menu a:hover {
  color: #000;
}
.header-left a:focus, .header-right a:focus,
.hamburger-menu a:hover {
  color: #000;
}

  /* Sezione sinistra dell'Header */
.header-left {
  display: flex;
  align-items: center;
}
.header-left a {
  margin-left: 29px;
  text-decoration: none;
  text-transform: uppercase;
  color: #8B959E;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

  /* Sezione destra dell'Header */
.header-right {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-right ul {
  list-style-type: none;
}
.header-right li {
  display: inline-block;
  margin-left: 30px;
}
.header-right a {
  text-decoration: none;
  color: #8B959E;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.header-right > a {
  display: none;
}

  /* Sezione bottone dell'Header */
.pulsante {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.pulsante button {
  background-color: #EB008D;
  padding: 10px 24px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  margin-left: 30px;
}
.pulsante button:hover {
  background-color: #d2007e;
}
.bottone button {
  display: none;
}

  /* Sezione Menu a cascata Accounts*/
#dropbox {
  position: relative;
}
.drop {
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 35px;
  right: -32px;
  display: none;
  background-color: #fff;
}
.drop a {
  display: block;
  text-align: center;
  padding: 1rem 2rem;
}
.drop div:hover {
  background-color: #f3f4f5;
}
.drop.active {
display: block;
}
  /* Sezione Menu a cascata Products*/
.trop {
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 35px;
  right: -92px;
  display: none;
  width: 240px;
  background-color: #fff;
}
.trop a {
  display: block;
  text-align: left;
  padding: 1rem 2rem;
}
.trop div:hover {
  background-color: #f3f4f5;
}
.trop.active {
  display: block;
}

  /* Hamnburger menu */
.hamburger-menu {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  padding: 20px;
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  background: #fff;
}
.hamburger-menu ul {
  display: flex;
  height: 60%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding: 20px 0;
}
.hamburger-menu ul li a {
  text-decoration: none;
  color: #8B959E;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.close {
  display: block;
  position: absolute;
  right: 23px;
  top: 63px;
  color: #8B959E;
  font-size: 30px;
  text-decoration: none;
}

/* Regole Responsive */
@media screen and (max-width: 1024px) {
  /* Sezione sinistra dell'Header e Bottone */
  .header-left a, .pulsante {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  /* Sezione destra dell'Header */
  .header-right nav {
    display: none;
  }
  .header-right > a {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    line-height: 70px;
    color: lightgrey;
    font-size: 30px;
  }
  /* Attivazione Hamburget menu */
  .hamburger-menu.active {
    display: block;
  }
  /* Bottone */
  .bottone button {
    display: block;
    background-color: #EB008D;
    padding: 10px 24px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    margin: 0 auto;
  }
  .bottone button:hover {
    background-color: #d2007e;
  }
}
