/* REGOLE GENERALI */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Roboto Font */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Regole dell'Header */
.container {
  max-width: 86rem;
  height: 100px;
  margin: auto;
  display: flex;
  align-items: flex-end;
  padding: 0 20px;
}

.nav-bar {
  height: 40px;
  width: 100%;
  display: flex;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left a {
  margin-left: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: #8B959E;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.header-right {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-right ul {
  list-style-type: none;
}

.header-right li {
  display: inline-block;
  margin-left: 30px;
}

.header-right a {
  text-decoration: none;
  color: #8B959E;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.header-left a:hover, .header-right a:hover {
  color: #000;
}

.header-left a:focus, .header-right a:focus {
  color: #000;
}

.pulsante {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.pulsante button {
  background-color: #EB008D;
  padding: 10px 24px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  margin-left: 30px;
}

.pulsante button:hover {
  background-color: #d2007e;
}
